<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>编辑数据</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
	<hr />
    <div class="row">
        <div class="col-md-12">
            <form action="{:url('update')}" method="post">
                <label>姓名:</label>
                <input type="hidden" name="id" value="{$user->getData('id')}" />
                <input type="text" name="name" value="{$user->getData('name')}" />
                <label>用户名:</label>
                <input type="text" name="username" value="{$user->getData('username')}" />
                <label>性别:</label>
                <select name="sex">
                    <option value="0">男</option>
                    <option value="1" {eq name="user->getData('sex')" value="1"}selected="selected"{/eq}>女</option>
                </select>
                <label>邮箱:</label>
                <input type="email" name="email" value="{$user->getData('email')}" />
                <button type="submit">保存</button>
            </form>
        </div>
    </div>
    <hr />
</body>
</html>